<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  </head>

  <body onload="scroll()">
    <%# include('./partials/background.ejs') %>
      <input type="hidden" id="id" value="<%= userData._id %>">
      <!-- container -->
      <div class="container">
        <%- include('./partials/nav.ejs') %>
          <div class="home-content">
            <div class="profile">
              <div class="img">
                <img src="/img/328157463_136435589294620_7570663161007041273_n.webp" alt="">
              </div>
              <div class="profile-content">
                <h1>
                  <%= userData.fullName %>
                </h1>
                <a href="/profile/edit">setings <i class="fa-solid fa-gear fa-spin"></i></a>
              </div>
            </div>
            <div class="rooms">
              <h1>rooms</h1>
              <a href="/publicChatRoom" class="room">
                publicChatRoom 
              </a>
            </div>


          </div>
          <%- include('./partials/footer.ejs') %>
      </div>





      <script src="main.js"></script>
      <script src="socket.io.js"></script>
      <script>
        const socket = io();
      </script>
  </body>

</html>