<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chatting room</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="background.css">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <style>
    .container {
      min-height: 100vh;
      height: auto;
    }
  </style>
</head>

<body onload="scroll()">
  <%# include('./partials/background.ejs') %>
    <input type="hidden" id="id" value="<%= userData._id %>">
    <!-- container -->
    <div class="container">
      <%- include('./partials/nav.ejs') %>
        <div class="content">
          <div class="chat-room">
            <div class="messages" id="messages">

              <% msg.forEach(message=> { %>
                <% if (message.senderData.id==userData._id) { %>
                
                  <div class="message-container sender">
                    <div class="message">
                      <div class="message-name"><%= message.senderData.name %></div>
                      <div class="message-content"><%= message.message %></div>
                      <div class="message-time"><%= message.Time %></div>
                    </div>
                  </div>

                  <% } else { %>
                    <div class="message-container resaver">
                      <div class="message">
                        <div class="message-name"><%= message.senderData.name %></div>
                        <div class="message-content"><%= message.message %></div>
                        <div class="message-time"><%= message.Time %></div>
                      </div>
                    </div>
                    <% } %>
                      <% }) %>




            </div>
            <div class="send-message">
              <input type="text" id="msg" placeholder="Type your message..." autofocus required />
              <button onclick="sendMessage(this.id)" id="<%= userData._id %>"><i
                  class="fa-solid fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>





    <script src="main.js"></script>
    <script src="socket.io.js"></script>
    <script src="socket.io.Clint.js"></script>
</body>

</html>