<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <style>
    .container {
      min-height: 100vh;
      height: auto;
    }
  </style>
  </head>

  <body onload="scroll()">
    <input type="hidden" id="id" value="<% userData._id %>">
    <!-- container -->
    <div class="container">
      <%- include('./partials/nav.ejs') %>
        <div class="content">
          <div class="chat-room">
            <div class="messages" id="messages">



              <div class="message-container sender">
                <div class="message">
                  <div class="message-name">
                  </div>
                  <div class="message-content">
                  </div>
                  <div class="message-time">
                  </div>
                </div>
              </div>

              <div class="message-container resaver">
                <div class="message">
                  <div class="message-name">
                  </div>
                  <div class="message-content">
                  </div>
                  <div class="message-time">
                  </div>
                </div>
              </div>





            </div>
            <div class="send-message">
              <input type="text" id="msg" placeholder="Type your message..." autofocus required />
              <button onclick="sendMessage(this.id)" id="<% userData._id %>"><i
                  class="fa-solid fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>






    <script src="/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let userData = {
        _id: '<%= userData._id %>',
        fullName: '<%= userData.fullName %>',
        userName: '<%= userData.userName %>',
      }
      let roomData = {
        _id: '<%= roomData._id %>',
      }

      const socket = io();
      socket.emit('connectedToRoom', userData, roomData);

      socket.on(`connectedToRoom`, (userData, roomId, numberOfUsers) => {
        
      })
    </script>
  </body>

</html>