<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <style>
    .container {
      min-height: 100vh;
      height: auto;
    }
  </style>
  </head>

  <body onload="scroll()">
    <input type="hidden" id="id" value="<% userData._id %>">
    <!-- container -->
    <div class="container">
      <%- include('./partials/nav.ejs') %>
        <div class="content">
          <div class="chat-room">
            <div class="messages" id="messages">
              <% messages.forEach(message=> { %>
                <% let sender='sender' %>
                  <% if (userData._id !=message.senderData._id) { %>
                    <% sender='receiver' %>
                      <% } %>
                        <div class="message-container <%= sender %>">
                          <div class="message">
                            <div class="message-name">
                              <%= message.senderData.fullName %>
                            </div>
                            <div class="message-content">
                              <%= message.messageContent %>
                            </div>
                            <div class="message-time">
                              <%= message.Time.hour %>:<%= message.Time.minute %>
                            </div>
                          </div>
                        </div>
                        <% }) %>
            </div>
            <div class="send-message">
              <input type="text" id="msg" placeholder="Type your message..." autofocus required />
              <button onclick="sendMessage()"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>






    <script src="/main.js"></script>
    <script src="/time/Time.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      onkeyup = (e) => {
        if (e.code == 'Enter') {
          sendMessage();
        }
      }
      let userData = {
        _id: '<%= userData._id %>',
        fullName: '<%= userData.fullName %>',
        userName: '<%= userData.userName %>',
      }

      let roomData = {
        _id: '<%= roomData._id %>',
      }

      const socket = io();

      // Send a connection request to the server with user data and join the chat room
      // functions (req)
      socket.emit("joinRoom", userData, roomData);
      // send msg
      function sendMessage() {
        let msgInput = document.getElementById('msg');
        // check if the input is empty
        for (let i in msgInput.value) {
          const letter = msgInput.value[i];
          if (letter != ' ') {
            break;
          } else {
            if (i == msgInput.value.length - 1) {
              return;
            } else {
              continue;
            }
          }
        }
        // handle time
        const timeData = time()
        const timeHandler = {
          hour: `${timeData.hour.hour12}`,
          minute: timeData.minutes,
        }
        // sendMsg emitting
        socket.emit('sendMsg', userData, roomData, msgInput.value, timeHandler);
        msgInput.value = '';
        return;
      }
      






      // call back (res)
      socket.on('userJoined', (fullName) => {
        console.log(`User ${fullName} joined the chat`);
      })

      socket.on('msgSent', (msgData) => {
        const { senderData, messageContent, Time } = msgData;
        if (senderData._id == userData._id) {
          showMessage(senderData, messageContent, Time, 'sender');
        } else {
          showMessage(senderData, messageContent, Time, 'receiver');
        }
        scroll()
      })
      function showMessage(senderData, messageContent, Time, sender) {
        let messageContainer = document.getElementById('messages')

        messageContainer.innerHTML += `
        
        <div class="message-container ${sender}">
                <div class="message">
                  <div class="message-name">
                    ${senderData.fullName}
                  </div>
                  <div class="message-content">
                    ${messageContent}
                  </div>
                  <div class="message-time">
                    ${Time.hour}:${Time.minute}
                  </div>
                </div>
              </div>
        `
      }
    </script>
  </body>

</html>